# editors
/.idea
# downloads & temporary files
/mnt/
/tmp/
*.img
/kernels/*
/sets/**
/images/*
/pkgs/**
/db/**
netbsd-*
# app build & env
/app/bin/
/app/lib/
/app/pyvenv.cfg
/sailor/
# personal keys
/service/sshd/etc/*.pub
/service/nitrosshd/etc/*.pub
